[submodule "apps/heuristiq-app-default"]
	path = apps/heuristiq-app-default
	url = git@github.com:seungjin/heuristiq-app-default.git
[submodule "apps/pwm"]
	path = apps/pwm
	url = git@github.com:seungjin/pwm.git
